body{
    background-color: rgb(59, 57, 57);
}
h1{
    color: blueviolet;
    align-items: center;
    text-align: center;
}
.imag{
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border: 5px solid blueviolet;
    width: auto;
    height: 510px;
    background-color: blueviolet;
}
.imag:hover{
    transition: 3s;
    gap: 800px;
}
.imag>p{
    position: absolute;
    z-index: 0;
}
img{
    width: 500px;
    z-index: 1;
}
a{
    color: aliceblue;
}